section.intro
  .container
    .row
      .col-md-24.intro__heading--sm
        h2.heading.intro__heading!=page.intro.heading
      .col-24.col-md-12.col-lg-15.col-xl-16
        h2.heading.intro__heading.intro__heading--lg!=page.intro.heading
        .intro__box
          ul.nav-tabs(role='tablist')
            .nav-item
              a.nav-link.button.intro__btn.intro__btn--1.active!=page.intro.tabs.btn1 
            .nav-item
              a.nav-link.button.intro__btn.intro__btn--2!=page.intro.tabs.btn2
          .tab-content
            #tab1.tab-pane.in.active
              img.img-fluid.hidden-md-up(src!=page.intro.tabs.img1.src, alt!=page.intro.tabs.img1.alt)
              .intro__text!=page.intro.tabs.text1
      .col-24.col-sm-18.offset-sm-3.col-md-12.offset-md-0.col-lg-9.col-xl-8.hidden-sm-down
        .intro__image 
          .intro__img.intro__img--1.active
            img.img-fluid(src!=page.intro.tabs.img1.src, alt!=page.intro.tabs.img1.alt)
          .intro__img.intro__img--2
            img.img-fluid(src!=page.intro.tabs.img2.src, alt!=page.intro.tabs.img2.alt)
