section.mission
  .container
    .row
      .col-24
        h2.heading.mission__heading!= page.mission.heading
        p.mission__descr!= page.mission.descr
    .row.justify-content-between.align-items-stretch
      each item, i in page.mission.items
        .col-24.col-lg-12
          .ms-item.mission__items
            .ms-item__photo
              i.ms-icon__icon(class=item.icon)
            .ms-item__name!= item.heading
            p.ms-item__text!= item.text
          
