#modal__call.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg.hidden-md-up(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
          metadata
            x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
              rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                rdf:description(rdf:about='')
          defs
          path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')        
        i.ic.ic--close.hidden-sm-down
      .modal__heading заполните форму
      .modal__subheading мы свяжемся с вами в течение 15 минут
      form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
        .row.justify-content-center
          .col-24
            .form-group.contact-form__group
              input.form-control.form-control--full-size.contact-form__input(type="text", placeholder=page.question.form.name.placeholder, name="name", required)
          .col-24
            .form-group.contact-form__group
              input.form-control.form-control--full-size.contact-form__input(type="tel", placeholder=page.question.form.phone.placeholder, name="phone", required)  
          .col-24
            .form-group.contact-form__group
              input.form-control.form-control--full-size.contact-form__input(type="email", placeholder=page.question.form.email.placeholder, name="email", required)      
          .col-24    
            button.button.button--green.contact-form__submit.form-control.form-control--full-size.modal__btn(name='form', value=page.question.form.submit.value, type='submit', data-loading-text=page.question.form.submit.loading)!= page.question.form.submit.text
          .col-24.col-lg-16.col-xl-18
            p.notify.contact-form__notify.modal__notify!= page.question.form.notify
#modal__transfer.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg.hidden-lg-up(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
          metadata
            x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
              rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                rdf:description(rdf:about='')
          defs
          path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')        
        i.ic.ic--close.hidden-md-down
      .row
        .col-24.col-md-12
          .modal__title хранение продукции
          .modal__text Шрот подсолнечника и сои хранят в складских помещениях, оборудованных приточно-вытяжной вентиляцией. Помещения хорошо проветриваются, чистые, сухие, не зараженные вредителями хлебных запасов, защищенные от попадания солнечного света и источников тепла. Произведенный шрот хранится насыпом или в мешках.
          .modal__text Масло растительное хранится в специальных емкостях хранения отвечающих всем нормам и правилам хранения пищевых продуктов. Очистка баков и емкостей, в котрых хранят масло происходит в требуемые нормативными документами сроками (не реже одного раза в год).
        .col-24.col-md-12    
          .modal__title Узнайте о возможностях сотрудничества c МЭЗ 
            span.modal__title--span «Потоки»
          .modal__subheading.modal__subheading--left Оставьте свои контакты, если вас интересует совместная работа с нашим заводом
          form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
            .row.justify-content-center
              .col-24
                .form-group.contact-form__group
                  input.form-control.form-control--full-size.contact-form__input(type="text", placeholder=page.question.form.name.placeholder, name="name", required)
              .col-24
                .form-group.contact-form__group
                  input.form-control.form-control--full-size.contact-form__input(type="tel", placeholder=page.question.form.phone.placeholder, name="phone", required)      
              .col-24    
                button.button.button--green.contact-form__submit.form-control.form-control--full-size.modal__btn(name='form', value=page.question.form.submit.value, type='submit', data-loading-text=page.question.form.submit.loading) Обсудить возможность сотрудничества
              .col-24.col-lg-16.col-xl-18
                p.notify.contact-form__notify.modal__notify!= page.question.form.notify                