#modal__call.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='27', height='27', viewbox='0 0 27 27')
          path(fill='#fff', d='M13.85.38A13.07 13.07 0 0 0 .8 13.43c0 7.2 5.86 13.05 13.05 13.05a13.06 13.06 0 0 0 0-26.1zm0 23.86a10.82 10.82 0 0 1 0-21.62 10.82 10.82 0 0 1 0 21.62zM18.9 8.38a1.12 1.12 0 0 0-1.58 0l-3.47 3.47-3.47-3.47A1.12 1.12 0 1 0 8.8 9.96l3.47 3.47L8.8 16.9a1.11 1.11 0 0 0 0 1.58 1.12 1.12 0 0 0 1.58 0l3.47-3.47 3.47 3.47a1.1 1.1 0 0 0 1.58 0c.44-.44.44-1.14 0-1.58l-3.47-3.47 3.47-3.47c.44-.43.44-1.14 0-1.58z')  
      .modal__heading!= page.modal.call.heading
      .modal__subheading!= page.modal.call.descr
      form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
        .row.justify-content-center
          .col-24
            .form-group.contact-form__group
              input.form-control.form-control--full-size.contact-form__input(type="text", placeholder=page.question.form.name.placeholder, name="name", required)
          .col-24
            .form-group.contact-form__group
              input.form-control.form-control--full-size.contact-form__input(type="tel", placeholder=page.question.form.phone.placeholder, name="phone", required)  
          .col-24
            .form-group.contact-form__group
              input.form-control.form-control--full-size.contact-form__input(type="email", placeholder=page.question.form.email.placeholder, name="email", required)      
          .col-24    
            button.button.button--green.contact-form__submit.form-control.form-control--full-size.modal__btn(name='form', value=page.modal.call.submit.value, type='submit', data-loading-text=page.question.form.submit.loading)!= page.modal.call.submit.text
          .col-24.col-lg-16.col-xl-18
            p.notify.contact-form__notify.modal__notify!= page.question.form.notify
#modal__product.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='27', height='27', viewbox='0 0 27 27')
          path(fill='#fff', d='M13.85.38A13.07 13.07 0 0 0 .8 13.43c0 7.2 5.86 13.05 13.05 13.05a13.06 13.06 0 0 0 0-26.1zm0 23.86a10.82 10.82 0 0 1 0-21.62 10.82 10.82 0 0 1 0 21.62zM18.9 8.38a1.12 1.12 0 0 0-1.58 0l-3.47 3.47-3.47-3.47A1.12 1.12 0 1 0 8.8 9.96l3.47 3.47L8.8 16.9a1.11 1.11 0 0 0 0 1.58 1.12 1.12 0 0 0 1.58 0l3.47-3.47 3.47 3.47a1.1 1.1 0 0 0 1.58 0c.44-.44.44-1.14 0-1.58l-3.47-3.47 3.47-3.47c.44-.43.44-1.14 0-1.58z')   
      .row.align-items-center
        .col-24.col-md-12
          .modal__title!= page.modal.product.heading
          each item in page.modal.product.text
            p.modal__text!= item
        .col-24.col-md-12    
          img.img-fluid.modal__img(src=page.modal.product.img.src, alt=page.modal.product.img.alt)
#modal__cooperation.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size.modal__size--md
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='27', height='27', viewbox='0 0 27 27')
          path(fill='#fff', d='M13.85.38A13.07 13.07 0 0 0 .8 13.43c0 7.2 5.86 13.05 13.05 13.05a13.06 13.06 0 0 0 0-26.1zm0 23.86a10.82 10.82 0 0 1 0-21.62 10.82 10.82 0 0 1 0 21.62zM18.9 8.38a1.12 1.12 0 0 0-1.58 0l-3.47 3.47-3.47-3.47A1.12 1.12 0 1 0 8.8 9.96l3.47 3.47L8.8 16.9a1.11 1.11 0 0 0 0 1.58 1.12 1.12 0 0 0 1.58 0l3.47-3.47 3.47 3.47a1.1 1.1 0 0 0 1.58 0c.44-.44.44-1.14 0-1.58l-3.47-3.47 3.47-3.47c.44-.43.44-1.14 0-1.58z')  
      .row.justify-content-center
        .col-24.col-lg-20 
          .modal__title.modal__title--center!=page.modal.communication.title.text
          .modal__subheading!= page.modal.communication.subheading
      .row
        .col-24  
          form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
            .row.justify-content-center
              .col-24.col-lg-12
                .form-group.contact-form__group
                  input.form-control.form-control--full-size.contact-form__input(type="text", placeholder=page.question.form.name.placeholder, name="name", required)
              .col-24.col-lg-12
                .form-group.contact-form__group
                  input.form-control.form-control--full-size.contact-form__input(type="tel", placeholder=page.question.form.phone.placeholder, name="phone", required)      
              .col-24    
                button.button.button--green.contact-form__submit.form-control.form-control--full-size.modal__btn(name='form', value=page.modal.communication.submit.value, type='submit', data-loading-text=page.question.form.submit.loading)!= page.modal.communication.submit.text
              .col-24.col-lg-16.col-xl-18
                p.notify.contact-form__notify.modal__notify!= page.question.form.notify
#modal__work.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size.modal__size--md
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='27', height='27', viewbox='0 0 27 27')
          path(fill='#fff', d='M13.85.38A13.07 13.07 0 0 0 .8 13.43c0 7.2 5.86 13.05 13.05 13.05a13.06 13.06 0 0 0 0-26.1zm0 23.86a10.82 10.82 0 0 1 0-21.62 10.82 10.82 0 0 1 0 21.62zM18.9 8.38a1.12 1.12 0 0 0-1.58 0l-3.47 3.47-3.47-3.47A1.12 1.12 0 1 0 8.8 9.96l3.47 3.47L8.8 16.9a1.11 1.11 0 0 0 0 1.58 1.12 1.12 0 0 0 1.58 0l3.47-3.47 3.47 3.47a1.1 1.1 0 0 0 1.58 0c.44-.44.44-1.14 0-1.58l-3.47-3.47 3.47-3.47c.44-.43.44-1.14 0-1.58z')  
      .modal__heading!= page.modal.work.heading
      .modal__subheading!= page.modal.work.descr
      form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
        .row.justify-content-center
          .col-24
            .form-group.contact-form__group
              input.form-control.form-control--full-size.contact-form__input(type="text", placeholder=page.question.form.name.placeholder, name="name", required)
          .col-24
            .form-group.contact-form__group
              input.form-control.form-control--full-size.contact-form__input(type="tel", placeholder=page.question.form.phone.placeholder, name="phone", required)       
          .col-24    
            button.button.button--green.contact-form__submit.form-control.form-control--full-size.modal__btn(name='form', value=page.modal.work.submit.value, type='submit', data-loading-text=page.question.form.submit.loading)!= page.modal.work.submit.text
          .col-24.col-lg-16.col-xl-18
            p.notify.contact-form__notify.modal__notify!= page.question.form.notify
#modal__map.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__map
    .modal-content.modal__map--content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='27', height='27', viewbox='0 0 27 27')
          path(fill='#fff', d='M13.85.38A13.07 13.07 0 0 0 .8 13.43c0 7.2 5.86 13.05 13.05 13.05a13.06 13.06 0 0 0 0-26.1zm0 23.86a10.82 10.82 0 0 1 0-21.62 10.82 10.82 0 0 1 0 21.62zM18.9 8.38a1.12 1.12 0 0 0-1.58 0l-3.47 3.47-3.47-3.47A1.12 1.12 0 1 0 8.8 9.96l3.47 3.47L8.8 16.9a1.11 1.11 0 0 0 0 1.58 1.12 1.12 0 0 0 1.58 0l3.47-3.47 3.47 3.47a1.1 1.1 0 0 0 1.58 0c.44-.44.44-1.14 0-1.58l-3.47-3.47 3.47-3.47c.44-.43.44-1.14 0-1.58z')  
      .modal__map--box
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7475.445690654173!2d35.10021778378017!3d48.51465569157454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d95845c26a9251%3A0xc9df7f48c392951a!2z0LLRg9C70LjRhtGPINCR0LDQudC60LDQu9GM0YHRjNC60LAsIDkvMjEsINCU0L3RltC_0YDQvsyBLCDQlNC90ZbQv9GA0L7Qv9C10YLRgNC-0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1505406857640&z=14" frameborder="0" style="border:0" allowfullscreen)  
