section.transfer
  .container
    .row
      .col-24.col-lg-12
        h2.heading.transfer__heading!= page.transfer.heading
        .hidden-lg-up.transfer__photo
          img.transfer__img(src=page.transfer.img.src, alt=page.transfer.img.alt)
        p.transfer__text!=  page.transfer.text
      .col-lg-12.hidden-md-down
        .transfer__photo
          img.transfer__img(src=page.transfer.img.src, alt=page.transfer.img.alt)  
      .col-24.col-md-16.offset-md-4.col-lg-12.offset-lg-0.text-center.text-lg-left
        a.transfer__link(data-toggle="modal", href="#modal__product")!= page.transfer.link.text
        .button-group.text-center.text-lg-left
          button.button.button--size.button--green(type='button', data-toggle="modal", data-target='#modal__cooperation')!= page.transfer.btn.text
